.movieContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 30px;
}

.paginations {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 80%;
  padding: 20px 0;
  margin: 0 auto;
}

.paginations button {
  color: #fff;
  position: relative;
}

.paginations button:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.paginations button.disable {
  opacity: 0.3;
  pointer-events: none;
}

.paginations button.disable:before {
  width: 0;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px 0;
  height: 80vh;
}

.textLoading {
  color: #fff;
  font-size: 3em;
}

.circles {
  display: flex;
  justify-content: center;
  gap: 0 20px;
}

.circle {
  width: 3vw;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
  transform: scale(0.5);
  animation: resizing 0.6s linear infinite alternate-reverse;
}

.circle:nth-child(2) {
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes resizing {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 980px) {
  .movieContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .movieContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 10px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.8em;
  }
}
