.container {
  background: #20262e;
}

.nav {
  display: flex;
  align-items: center;
  color: #e9e8e8;
  padding: 10px 20px;
  z-index: 100;
  border-bottom: 1px solid #e9e8e8;
}

.logo {
  font-size: 2.5em;
}

.regionWrap {
  display: flex;
  gap: 0 20px;
  margin-left: 20px;
}

.regionWrap button {
  font-size: 1.2em;
  color: inherit;
}

.movieContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 30px;
}

.paginations {
  display: flex;
  justify-content: center;
  gap: 0 20px;
  padding: 20px 0;
}

.paginations button {
  color: #e9e8e8;
  font-weight: 600;
  font-size: 1.1em;
}

@media screen and (max-width: 980px) {
  .movieContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .movieContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 10px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.8em;
  }
}
