@import url(./components/css/reset.css);

.App {
  width: 100%;
  min-height: 100vh;
  background: #20262e;
}

.nav {
  display: flex;
  align-items: center;
  color: #e9e8e8;
  padding: 10px 20px;
  z-index: 100;
  border-bottom: 1px solid #e9e8e8;
}

.logo {
  font-size: 2.5em;
}

.regionWrap {
  display: flex;
  gap: 0 20px;
  margin-left: 20px;
}

.regionWrap button {
  font-size: 1.2em;
  color: inherit;
}

@keyframes load {
  to {
    transform: translateY(-10px) scale(0.7);
  }
}
